/* styles for desktop **/
@media (min-width: 992px) { 
	body {
    font-family: 'Raleway', sans-serif; /* This sets Raleway as the default font for the whole website. */
}

#activities-section {
    background-color: white;   
}

.section-title {
    margin-left: 50px;
    margin-top: 70px
}

.activities-grid {
    display: flex;
    justify-content: left;
    width: 100%; /* Set the width of the grid to 100% to make it fill the container */
  }

.activities-col {
    display: flex; /* Make each column a flex container */
    flex-direction: column; /* Stack cards vertically */
    margin-left:50px;
}

.activity-card img {    
    width: 200px; 
    height: 145px; 
    border-radius: 15px 15px 0 0; /* This will make the top edges rounded and the bottom edge straight */
    object-fit: cover; /* This will ensure that the aspect ratio of the image is preserved */
    object-position: center; /* This will center the image */
    display: block; /* This will allow you to center the image using margin auto */
    margin: auto; /* This will center the image */
}

.activity-card .activity-title {
  text-align: center;
  font-weight: 600; /* Makes the text bold */
}

.activity-card {
  background-color: #fff; /* Your desired card color */
  padding: 0px; /* You might want to adjust the padding to suit your needs */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  border-radius: 20px; /* Give the card rounded corners */
  border: 1px solid #F2F2F2; /* Add a border. Adjust the width and style as needed */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Apply shadow effect */
  /* Styling for the activity cards, adjust as needed */
}

/* Styling each individual card in the activity section from cards 1-6 */

.activity-title-1 {
  text-align: center;
  font-weight: 600; /* Makes the text bold */
  margin-left: -210px;
}

.activity-card-1 {
    margin-right: 1380px;
}

.activity-card-1 img {
    width: 300px; 
    height: 400px; 
}

.activity-title-2 {
  text-align: center;
  font-weight: 600; /* Makes the text bold */
  margin-left: -170px;
}

.activity-card-2 {
    margin-left: -1400px;
    width: 300px;
}

.activity-card-2 img {
    width: 300px; 
}

.activity-title-3 {
  text-align: center;
  font-weight: 600; /* Makes the text bold */
  margin-left: -170px;
}

.activity-card-3{
    margin-left: -1400px;
    margin-top: 30px;
    width: 300px;
    height: 200px;
}

.activity-card-3 img {
    height: 150px;
    width: 300px; 
}

.activity-title-4 {
  text-align: center;
  font-weight: 600; /* Makes the text bold */
  margin-left: -95px;
}

.activity-card-4 {
    margin-left: -1100px;
    width: 300px;
}

.activity-card-4 img {
    width: 300px; 
    height: 400px; 
}

.activity-title-5 {
  text-align: center;
  font-weight: 600; /* Makes the text bold */
  margin-left: -90px;
}

.activity-card-5 {
    margin-left: -780px;
    width: 300px;
}

.activity-card-5 img {
    width: 300px; 
}

.activity-title-6 {
  text-align: center;
  font-weight: 600; /* Makes the text bold */
  margin-left: -150px;
}

.activity-card-6{
    margin-left: -780px;
    margin-top: 30px;
    width: 300px;
    height: 200px;
}

.activity-card-6 img {
    height: 150px;
    width: 300px; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* This section is all for the most popular card englarging and clicking */

.animation-card {
    /* Add transition for smooth enlargement */
    transition: transform 0.3s ease-in-out;
}

.animation-card:active {
    /* Apply shake animation on click */
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.card-link:hover .animation-card {
    /* Enlarge card on hover */
    transform: scale(1.05);
}

}

/* Styles for tablets (Apple Air)*/
@media (max-width: 991px) {
    body {
        font-family: 'Raleway', sans-serif; /* This sets Raleway as the default font for the whole website. */
    }
    /* Hides an element for view */
    .hide-desktop {
        display: none;
    } 

    #activities-section {
        background-color: white;
        
    }
    
    .section-title {
        margin-left: -483px;
        margin-top: 30px;
        text-align: center;
    }
    
/* Section for the activity cards */
.activities-grid {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    justify-content: left;
    width: 100%; /* Set the width of the grid to 100% to make it fill the container */
}

.activities-col {
    display: flex; /* Make each column a flex container */
    flex-direction: column; /* Stack cards vertically */
    margin-left: 30px;
}

.activity-card {
    background-color: #fff; /* Your desired card color */
    padding: 0px; /* You might want to adjust the padding to suit your needs */
    margin-bottom: 20px;
    display: flex;
    width: 350px;
    flex-direction: column; /* Stack image and text vertically */
    border-radius: 20px; /* Give the card rounded corners */
    border: 1px solid #F2F2F2; /* Add a border. Adjust the width and style as needed */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Apply shadow effect */
    /* Styling for the activity cards, adjust as needed */
  }

.activity-card img {    
    width: 350px; /* Sets the width of the image */
    height: 200px; /* Sets the height of the image to be same as width to maintain the aspect ratio */
    border-radius: 15px 15px 0 0; /* Makes the top edges rounded and the bottom edge straight */
    object-fit: cover; /* Ensures that the aspect ratio of the image is preserved */
    object-position: center; /* Centers the image */
    display: block; /* Allows you to center the image using margin auto */
    margin: auto; /* Centers the image */
}

/* Styling each individual card in the activity section */
/* Since we want all cards and images to have the same height and width, 
   I removed specific height and width settings from individual cards and images. 
   They will inherit from .activity-card and .activity-card img. */

.activity-title-1,
.activity-title-2,
.activity-title-3,
.activity-title-4,
.activity-title-5,
.activity-title-6 {
    text-align: left;
    font-weight: 600; /* Makes the text bold */
    margin-left: 20px;
}

.activity-card-1,
.activity-card-2,
.activity-card-3,
.activity-card-4,
.activity-card-5,
.activity-card-6 {
    margin-bottom: 20px; /* Adds space between the cards when stacked vertically */
}
    
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
    
    /* This section is all for the most popular card englarging and clicking */
    
    .animation-card {
        /* Add transition for smooth enlargement */
        transition: transform 0.3s ease-in-out;
    }
    
    .animation-card:active {
        /* Apply shake animation on click */
        animation: shake 0.5s;
        animation-iteration-count: 1;
    }
    
    .card-link:hover .animation-card {
        /* Enlarge card on hover */
        transform: scale(1.05);
    }
}

/* Styles for iphone 8 */
@media (max-width: 768px) {

    .show-phone {
        display: block;
    }
    
    body {
        font-family: 'Raleway', sans-serif; /* This sets Raleway as the default font for the whole website. */
    }
    /* Hides an element for view */
    .hide-phone {
        display: none;
    } 

    #activities-section {
        background-color: white;
        
    }
    
    .section-title {
        margin-left: -117px;
        margin-top: -142px;
        text-align: center;
    }
    
/* Section for the activity cards */
.activities-grid {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    justify-content: left;
    width: 100%; /* Set the width of the grid to 100% to make it fill the container */
}

.activities-col {
    display: flex; /* Make each column a flex container */
    flex-direction: column; /* Stack cards vertically */
    margin-left: 30px;
}

.activity-card {
    background-color: #fff; /* Your desired card color */
    padding: 0px; /* You might want to adjust the padding to suit your needs */
    margin-bottom: 20px;
    display: flex;
    width: 350px;
    flex-direction: column; /* Stack image and text vertically */
    border-radius: 20px; /* Give the card rounded corners */
    border: 1px solid #F2F2F2; /* Add a border. Adjust the width and style as needed */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Apply shadow effect */
    /* Styling for the activity cards, adjust as needed */
  }

.activity-card img {    
    width: 350px; /* Sets the width of the image */
    height: 200px; /* Sets the height of the image to be same as width to maintain the aspect ratio */
    border-radius: 15px 15px 0 0; /* Makes the top edges rounded and the bottom edge straight */
    object-fit: cover; /* Ensures that the aspect ratio of the image is preserved */
    object-position: center; /* Centers the image */
    display: block; /* Allows you to center the image using margin auto */
    margin: auto; /* Centers the image */
}

/* Styling each individual card in the activity section */
/* Since we want all cards and images to have the same height and width, 
   I removed specific height and width settings from individual cards and images. 
   They will inherit from .activity-card and .activity-card img. */

.activity-title-1,
.activity-title-2,
.activity-title-3,
.activity-title-4,
.activity-title-5,
.activity-title-6 {
    text-align: left;
    font-weight: 600; /* Makes the text bold */
    margin-left: 20px;
}

.activity-card-1,
.activity-card-2,
.activity-card-3,
.activity-card-4,
.activity-card-5,
.activity-card-6 {
    margin-bottom: 20px; /* Adds space between the cards when stacked vertically */
}
    
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
    
    /* This section is all for the most popular card englarging and clicking */
    
    .animation-card {
        /* Add transition for smooth enlargement */
        transition: transform 0.3s ease-in-out;
    }
    
    .animation-card:active {
        /* Apply shake animation on click */
        animation: shake 0.5s;
        animation-iteration-count: 1;
    }
    
    .card-link:hover .animation-card {
        /* Enlarge card on hover */
        transform: scale(1.05);
    }
}